* {
    margin: 0;
    padding: 0;
}

.content {
    transition: all ease 0.5s;
    width: 100%;
    margin-top: 10px;
}

.wrapper {
    margin-top: 65px;
}

@media (min-width: 992px) {
    .content {
        width: 100%;
    }

    .card-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
    }

    .display-card > img {
        /* width: 100%; */
        height: 20vh;
        object-fit: contain;
    }
}

@media only screen and (max-width: 992px) {
    .card-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 10px;
    }
    .display-card > img {
        /* width: 100%; */
        height: 10vh;
        object-fit: contain;
    }
}
.poppeg-logo {
    height: 35px;
    width: 140px;
}
.add-button {
    font-size: 80px;
}
.text {
    font-size: 18px;
    color: rgb(223, 219, 219);
}

.nav-item:hover {
    background-color: rgba(209, 208, 208, 0.253);
}

#addCardButton {
    color: rgba(90, 89, 89, 0.459) !important;
}

#addCardButton:hover {
    color: rgb(80, 79, 79) !important;
    cursor: pointer;
}

.header-nav {
    margin-top: 20px;
}
.header-nav .text {
    padding-top: 12px;
    padding-bottom: 12px;
}

.card-wrapper > div {
    border: 2px solid #35322f;
    border-radius: 5px;
    padding: 1em;
    color: #d9480f;
}

.display-card {
    display: grid;
    grid-template-areas: "image content";
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
}

/* Image area - BORDER to be removed during production */
.display-card > img {
    grid-area: image;
    border: 3px black solid;
}

/* Content area - border to be removed in production */
.display-card > div {
    grid-area: content;
    border: pink 2px solid;
}

/* HEADER */
.header-area {
    display: inline;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 998;
    background-color: #4f307e;
}

.header-area > .container > .row {
    font-size: 15px;
}

.menu-area {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-family: sans-serif;
    /* text-align: center; */
}

.logo {
    padding: 10px 8.75px 10px;
}

.logo a {
    display: inline;
}

.logo a img {
    max-height: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.main-menu {
    text-align: right;
}

.main-menu nav ul {
}

.main-menu nav ul li {
    display: inline-block;
}

.main-menu nav ul li a {
    display: block;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    letter-spacing: 0;
    padding: 10px 25px;
    position: relative;
    padding-left: 0;
}

.main-menu nav ul li a:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 22px;
    height: 2px;
    width: 0%;
    background-color: #fff;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.main-menu nav ul li:hover a:before,
.main-menu nav ul li.active a:before {
    width: 70%;
}

/*dropdown menu area start*/

.mobile_menu {
    display: inline;
}
.slicknav_menu .slicknav_menutxt {
    display: none;
    text-align: center;
}

.slicknav_menu {
    background: transparent;
    margin-top: 21px;
}

.slicknav_menu .slicknav_icon-bar {
    height: 2px;
    width: 19px;
    margin: 3px 0px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.slicknav_btn {
    background-color: transparent;
    margin-top: -4.65em;
}

.slicknav_menu .slicknav_open .slicknav_icon-bar:nth-child(2) {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.slicknav_menu .slicknav_open .slicknav_icon-bar:nth-child(1) {
    -webkit-transform: rotate(45deg) translate(1px, 7px);
    transform: rotate(45deg) translate(1px, 7px);
}

.slicknav_menu .slicknav_open .slicknav_icon-bar:nth-child(3) {
    -webkit-transform: rotate(-45deg) translateY(-6px);
    transform: rotate(-45deg) translateY(-6px);
}

.slicknav_menu {
    margin-top: 0;
}

.slicknav_nav {
    background: #4f307e;
    margin-top: 1rem;
    padding: 6px 0px;
}

.slicknav_nav a:hover {
    background: #fefefe none repeat scroll 0 0;
    border-radius: 0;
}

.slicknav_nav a {
    font-size: 14px;
    color: white;
    letter-spacing: 0.01em;
}
