* {
    margin: 0;
    padding: 0;
}

.instruction-logo {
    max-height: 70px;
    max-width: 70px;
    filter: opacity(90%);
    margin-bottom: 35px;
}

#howto-instructions {
    line-height: 23px;
    padding: 10px;
}

.ml--100 {
    margin-left: 100px;
}

.pt--80 {
    padding-top: 80px;
}

.mt--20 {
    margin-top: 20px;
}

.ptb--40 {
    padding-bottom: 40px;
}

.app-download {
    text-align: center;
}

.bg--none {
    background: none;
}

body {
    background-color: #4f307e;
    height: 100%;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.poppeg-logo {
    margin-top: 100px;
    margin-bottom: 30px;
    float: left;
}

.footer {
    color: #ffffff;
    font-size: 10px;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.btn-yellow {
    background-color: #f2d824;
    color: #000000;
    font-weight: bold;
    border-color: #f2d824;
    justify-content: center;
}

.btn-green:hover {
    border-color: #f2d824;
}

.btn-red {
    background-color: #ed3030;
    color: #000000;
    font-weight: bold;
    border-color: #ed3030;
}

.btn-red:hover {
    border-color: #ed3030;
}

.text-white {
    color: #ffffff;
}

.text-error {
    color: red;
    display: none;
    padding-left: 0px;
}

.panel-body {
    height: 1400px;
}

.upload-card {
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: bold;
    background-color: #ffffff;
    border-radius: 10px 10px 10px 10px;
}

.offset-top-15 {
    margin-top: 15px;
}

.offset-top-30 {
    margin-top: 30px;
}

.standard-header {
    font-size: 18px;
    letter-spacing: 2px;
    color: #f2d824;
}

.collections-block {
    border: black solid 2px;
    background-color: #f2d824;
    font-weight: bold;
    font-size: 20px;
}

.new-card {
    border: solid black 2px;
    font-weight: bold;
    font-size: 20px;
}

.media-block {
    padding: 20px 0px 10px 0px;
}

.bg-purple {
    background-color: #4f307e !important;
}

.delete-btn {
    background-color: rgba(255, 0, 0, 0.623);
    color: #ffffff;
    border: #ffffff solid 1px;
    font-size: 18px;
    font-weight: bold;
    padding: 19.5px 10.5px;
    margin-top: 2.5px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

@media (max-width: 996px) {
    .media-block {
        border-radius: 10px;
        padding: 20px 0px 10px 0px;
    }
    .delete-btn {
        border-radius: 10px;
        margin-left: 25%;
    }
}

.upload-card .media-block div {
    color: red;
    display: none;
    font-size: 13px;
}

#uploadSuccess {
    color: white;
    font-size: 27px;
}

.slider-area-new {
    display: flex;
    align-items: center;
    height: 800px;
    background: red;
    padding-top: 80px;
}
