.instruction-logo {
    max-height: 70px;
    max-width: 70px;
    filter: opacity(90%);
    margin-bottom: 35px;
}

#howto-instructions {
    line-height: 23px;
    padding: 10px;
}

.pt--80 {
    padding-top: 80px;
}

.mt--20 {
    margin-top: 20px;
}

.ptb--60 {
    padding-bottom: 60px;
}

.app-download {
    text-align: center;
}
