body {
    background-color: #4f307e;
    height:100%;
    margin:0;
    padding:0;
}

.poppeg-logo {
    margin-top: 100px;
    margin-bottom: 30px;
    float: left; 
}

.footer {
    color: #FFFFFF;
    font-size: 10px;
}       

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.btn-yellow {
    background-color: #f2d824;
    color:#000000;
    font-weight: bold;
    border-color: #f2d824;
    justify-content: center;
}

.btn-green:hover {
    border-color: #f2d824;
}

.btn-red {
    background-color: #ED3030;
    color:#000000;
    font-weight: bold;
    border-color: #ED3030;
}

.btn-red:hover {
    border-color: #ED3030;
}

.text-white {
    color: #FFFFFF;
}

.text-error {
    color: red;
    display: none; 
    padding-left: 0px;
}

.panel-body {
    height: 1400px;
}

.upload-card {
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: bold;
    background-color: #FFFFFF;
    border-radius: 10px 10px 10px 10px;
}

.offset-top-15 {
    margin-top: 15px;
}

.offset-top-30 {
    margin-top: 30px;
}

.standard-header {
    font-size: 18px;
    letter-spacing: 2px;
    color: #f2d824;
}

.collections-block {
    border: black solid 2px;
    background-color: #f2d824;
    font-weight: bold;
    font-size: 20px;
}

.new-card{
    border: solid black 2px;
    font-weight: bold;
    font-size: 20px;
}

.media-block {
    padding: 20px 10px;
}

.delete-btn {
    background-color: rgba(255, 0, 0, 0.623);
    color: #FFFFFF;
    border: #FFFFFF solid 1px; 
    font-size: 18px;
    font-weight: bold;
    padding: 19.5px 10.5px;
    margin-top: 2.5px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

@media (max-width: 996px) {
    .media-block {
        border-radius: 10px;
    }
    .delete-btn {
        border-radius: 10px;
        margin-left: 25%;
    }
}

.upload-card .media-block div{
    color: red;
    display: none;
    font-size: 13px;
}

#uploadSuccess {
    color: white;
    font-size: 27px;
}