.topnav {
    /* display: block;
    float: left; */
    color: #dcdcdc;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    background-color: black;
    font-family: 'Courier New', Courier, monospace
}

.upload-card {
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: space-between;
    border: solid 1px #dcdcdc;
}