.login-modal {
    position: fixed;
    margin: 0 auto;
    padding: 0;
    width: 50%;
    height: 100%;
    left: 50%;
    margin-left: -25%;
    margin-top: 10%;
}
.thumbnail {
    margin-top: -60px;
    margin-bottom: 45px;
    padding: 0;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: solid 1px #434e5a;
    background-color: #434e5a;
    margin-left: auto;
    margin-right: auto;
}

.thumbnail img {
    height: 120px;
    width: 120px;
    object-fit: contain;
    border-radius: 50%;	
    position: fixed;
}

.modal-content {
    background-color: #434e5a;
    opacity: 0.75;
    padding: 0 18px;
    border-radius: 10px;
}

.header-modal {
    color: white;
    margin: 10px;
    padding: 10px 0px;
    font-size: 20px;
    margin-top: -35px;
}

.form-group {
    margin-bottom: 25px;
}

.form-group input {
    height: 42px;
    border-radius: 5px;
    border: 0;
    font-size: 18px;
    letter-spacing: 2px;
    padding-left: 54px;
}

.form-group::before{
    font-family: 'Font Awesome\ 5 Free';
    content: "\f518";
    font-weight: 900;
    position: absolute;
    left: 28px;
    padding-top: 11px;
    color: #555e60;
}

.form-group:last-of-type::before {
    content: "\f02a";
}

.form-input button {
    width: 40%;
    margin: 5px 0 25px; 
    font-size: 19px;
    border-radius: 5px;
    padding: 7px 14px;
}

.background-pic {
    height: 100%;
    width: 100%;
    background-color: #4d2a7c;
    position: absolute;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
}


.footer {
    position: absolute;
    bottom: 0;
    height: 50px;
    color: #FFFACD;
    padding-left: 20px;
}

small {
    font-size: smaller;
}

input[type="text"]:focus,
button[type="submit"]:focus {
    box-shadow:0 0 10px 5px rgb(46, 0, 153);
}