<!DOCTYPE html>
<html>

<head>
	<link rel="shortcut icon" href="#" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	 crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
	 crossorigin="anonymous">
	<link rel="stylesheet" href="css/collections.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	 crossorigin="anonymous"></script>
	<script src="https://www.gstatic.com/firebasejs/5.8.0/firebase.js"></script>
    <script>
        var apiURL = "http://localhost:5000/";
        var config = {
			apiKey: "AIzaSyCJ_8fywjzItSCX63_1XE2tjaHDdLdLbRw",
			authDomain: "poppeg-95e96.firebaseapp.com",
			databaseURL: "https://poppeg-95e96.firebaseio.com",
			projectId: "poppeg-95e96",
			storageBucket: "poppeg-95e96.appspot.com",
			messagingSenderId: "237013132204"
		};
		firebase.initializeApp(config);

        $(document).ready(() => {
            $('#addCollectionButton').on("click", (event) => {
                window.location.href = apiURL + 'upload';
            })
        });
    </script>
</head>

<body>
    <div class="background">
		<div class="row">
			<div class="col-xs-12 col-md-6 col-lg-4 col-md-offset-3 col-lg-offset-4">
				<img src="media/poppeg_strip_vector.png" class=" poppeg-logo img-fluid" alt="Responsive image" style="width: 100%" />
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-xs-12 text-center">
				<span id="collectionsHeader">Your Current Uploads:</span>
			</div>
		</div>
		<div class="row">
			<div class="container justify-content-md-center">
				<div class="col-md-6 col-xs-12 jumbotron uploadBlock">
					<span class="innerHeader">Image:</span>
				</div>
				<div class="col-md-6 col-xs-12 jumbotron uploadBlock">
					<span class="innerHeader">Video:</span>
				</div>
			</div>
		</div>
		<div class="row">	
			<div class="col-md-12 text-center">
				<button id="addCollectionButton" class="btn btn-warning">Add to Collection</button>
			</div>
		</div>
    </div>
</body>