<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/material-icons/css/material-icons.css" type="text/css" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="css/dashboard.css" type="text/css" />
    <title>Dashboard - POPPEG</title>
    <link rel="shortcut icon" type="image/png" href="css/assets/img/icon/poppeg_square.png">
    <script type="text/javascript" src="js/dashboardPage.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
        <a href="/"><img src="media/poppeg_strip_vector.png" alt="poppeg-logo"
                class="poppeg-logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

    </nav>
    <div class="wrapper d-flex">
        <div class="side-menu" style="background-color: #4f307e;">
            <div class="sidebar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="material-icons">dashboard</i>
                            <span class="text">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="material-icons">settings</i>
                            <span class="text">Settings</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="material-icons">computer</i>
                            <span class="text">Demo</span>
                        </a>
                    </li>
                    <li class="nav-item arrow-left">
                        <a href="#" class="nav-link sideMenuToggler">
                            <i class="material-icons">keyboard_arrow_left</i>
                            <span class="text">Hide</span>
                        </a>
                    </li>
                    <li class="nav-item arrow-right">
                        <a href="#" class="nav-link sideMenuToggler">
                            <i class="material-icons">keyboard_arrow_right</i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            <main>
                <div class="container" id="uploadContainer">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-text">
                                <div class="row">
                                    <div class="col-xs-12 col-md-6 col-lg-6">
                                        <div class="row media-block imageBlock">
                                            <label for="#">Image:
                                            </label>
                                            <input class="image-upload" type="file" accept="image/*"
                                                style="display: inline;">
                                            <div class="text-error">
                                                Please input a valid file!</div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-md-6 col-lg-5">
                                        <div class="row media-block videoBlock">
                                            <label for="#">Video:
                                            </label>
                                            <input class="video-upload" type="file" accept="video/*"
                                                style="display: inline;">
                                            <div class="text-error">
                                                Please input a valid file!</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="card-text">
                                <div class="row">
                                    <div class="col-xs-12 col-md-6 col-lg-6">
                                        <div class="row media-block imageBlock">
                                            <label for="#">Image:
                                            </label>
                                            <input class="image-upload" type="file" accept="image/*"
                                                style="display: inline;">
                                            <div class="text-error">
                                                Please input a valid file!</div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-md-6 col-lg-5">
                                        <div class="row media-block videoBlock">
                                            <label for="#">Video:
                                            </label>
                                            <input class="video-upload" type="file" accept="video/*"
                                                style="display: inline;">
                                            <div class="text-error">
                                                Please input a valid file!</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="card-text">
                                <div class="row">
                                    <div class="col-xs-12 col-md-6 col-lg-6">
                                        <div class="row media-block imageBlock">
                                            <label for="#">Image:
                                            </label>
                                            <input class="image-upload" type="file" accept="image/*"
                                                style="display: inline;">
                                            <div class="text-error">
                                                Please input a valid file!</div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-md-6 col-lg-5">
                                        <div class="row media-block videoBlock">
                                            <label for="#">Video:
                                            </label>
                                            <input class="video-upload" type="file" accept="video/*"
                                                style="display: inline;">
                                            <div class="text-error">
                                                Please input a valid file!</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row float-right">
                        <i class="mdi mdi-5x" id="addCardButton">add_circle_outline</i>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>