<!DOCTYPE html>
<html lang="en">

<head>
    <!--- Basic Page Needs  -->
    <meta charset="utf-8">
    <title>Home - POPPEG</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile Specific Meta  -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- CSS -->
    <link rel="stylesheet" href="css/assets/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/assets/css/jquery-ui.css" type="text/css">
    <link rel="stylesheet" href="css/assets/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/assets/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/assets/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/assets/css/magnificpopup.css" type="text/css">
    <link rel="stylesheet" href="css/assets/css/jquery.mb.YTPlayer.min.css" type="text/css">
    <link rel="stylesheet" href="css/assets/css/typography.css" type="text/css">
    <link rel="stylesheet" href="css/assets/css/style.css" type="text/css">
    <link rel="stylesheet" href="css/assets/css/responsive.css" type="text/css">
    <link rel="stylesheet" href="css/home.css" type="text/css" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="css/assets/img/icon/poppeg_square.png">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>

<body>
    <!-- preloader area start -->
    <div id="preloader">
        <div class="spinner"></div>
    </div>
    <!-- preloader area end -->

    <!-- header area start -->
    <header id="header">
        <div class="header-area-new">
            <div class="container">
                <div class="row">
                    <div class="menu-area">
                        <div class="col-md-3 col-sm-12 col-xs-12">
                            <div class="logo-new">
                                <a href=""><img src="css/assets/img/icon/poppeg_strip.png" alt="POPPEG"></a>
                            </div>
                        </div>
                        <div class="col-md-9 hidden-xs hidden-sm">
                            <div class="main-menu">
                                <nav class="nav-menu">
                                    <ul>
                                        <li><a href="#home">Home</a></li>
                                        <li><a href="#feature">The App</a></li>
                                        {{!-- <li><a href="#feature">Features</a></li> --}}
                                        {{!-- <li><a href="#screenshot">How it Works</a></li> --}}
                                        <li><a href="#team">The Team</a></li>
                                        {{!-- <li><a href="#download">How To Use POPPEG</a></li> --}}
                                        <li><a href="#contact">Contact</a></li>
                                        <li><a href="login">Upload POPPEG</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-sm-12 col-xs-12 visible-sm visible-xs">
                            <div class="mobile_menu"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header area end -->


    <!-- slider area start -->
    <section class="slider-area-new" id="home">
        <div class="container">
            <div class="col-md-6 col-sm-6 hidden-xs">
                <div class="row">
                    <div class="slider-img">
                        <img src="css/assets/img/mobile/POPPEG_Iphone.png" alt="slider image">
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="row">
                    <div class="slider-inner text-right">
                        <h2>Make your images come to life!</h2>
                        <h5>With Singapore's first Augmented Reality photo application.</h5>
                        {{!-- <a class="expand-video" href="https://www.youtube.com/watch?v=8qs2dZO6wcc"><i class="fa fa-play"></i>Watch the video</a> --}}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- slider area end -->

    <!-- service area start -->
    {{!-- <div class="service-area">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="service-single">
                        <img src="css/assets/img/service/service-img1.png" alt="service image">
                        <h2>Call service</h2>
                        <p>Take The initative to call</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 col-6">
                    <div class="service-single">
                        <img src="css/assets/img/service/service-img2.png" alt="service image">
                        <h2>Active warning</h2>
                        <p>Timely detection of accidents</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 col-6">
                    <div class="service-single">
                        <img src="css/assets/img/service/service-img3.png" alt="service image">
                        <h2>Care plan</h2>
                        <p>The care content is pushed</p>
                    </div>
                </div>
            </div>
        </div>
    </div> --}}
    <!-- service area end -->
    {{!-- 
    <!-- about area start -->
    <div class="about-area ptb--100" id="about-app">
        <div class="container">
            <div class="section-title-new">
                <h2>About The App</h2>
                <p>Nemo enim ipsam voluptatem quia voluptas sit </p>
            </div>
            <div class="row d-flex flex-center">
                <div class="col-md-6 col-sm-6 hidden-xs">
                    <div class="about-left-img">
                        <img src="css/assets/img/about/abt-left-img.png" alt="image">
                    </div>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12 d-flex flex-center">
                    <div class="about-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed  eiuiosmod terttmpor incididunt ut labore et dolore magna aliqua. enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. doliuor in reprehenderit in voluptate velit esse  dolore eu fugiat nulla pariatur. cdatat non proident</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tuiempor incididunt ut labore et dolore magna aliqua. enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about area end --> --}}


    <!-- About App area start -->
    <section class="feature-area bg-gray ptb--100" id="feature">
        <div class="container">
            <div class="section-title-new">
                <h2>About The App</h2>
                <p>An Introduction to POPPEG</p>
            </div>
            <div class="row d-flex flex-center">
                <div class="col-md-6 col-sm-6 hidden-xs">
                    <div class="about-left-img">
                        <img src="css/assets/img/about/abt-left-img.png" alt="image">
                    </div>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12 d-flex flex-center">
                    <div class="about-content">
                        <p>We live in a digital world where many of our precious memories are stored in the digital
                            space, often in the form of videos and images. As we accumulate more and more of these
                            intangible assets, it becomes increasingly difficult for us to revisit these memories or
                            share these moments with our friends and family, especially in a genuine and sincere manner.
                            With that problem in mind, POPPEG was created as a platform that allows users to share their
                            precious memories with each other.</p>
                        <p>POPPEG brings an image to life using image recognition and augmented reality. This is
                            achieved by overlaying a video on top of the physical image. With POPPEG, we can add a new
                            dimension into our everyday lives, creating an experience in which users can revisit clipped
                            memories even through physical photos.</p>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- About App area end -->

        {{!-- 
    <!-- screen slider area start -->
    <section class="screen-area bg-gray ptb--100" id="screenshot">
        <div class="container">
            <div class="section-title">
                <h2>How it Works</h2>
                <p>Nemo enim ipsam voluptatem quia voluptas sit</p>
            </div>
            <img class="screen-img" src="css/assets/img/mobile/screen-slider.png" alt="mobile screen">
            <div class="screen-slider owl-carousel">
                <div class="single-screen">
                    <img src="css/assets/img/mobile/screen-slider/screen1.jpg" alt="mobile screen">
                </div>
                <div class="single-screen">
                    <img src="css/assets/img/mobile/screen-slider/screen2.jpg" alt="mobile screen">
                </div>
                <div class="single-screen">
                    <img src="css/assets/img/mobile/screen-slider/screen3.jpg" alt="mobile screen">
                </div>
                <div class="single-screen">
                    <img src="css/assets/img/mobile/screen-slider/screen4.jpg" alt="mobile screen">
                </div>
                <div class="single-screen">
                    <img src="css/assets/img/mobile/screen-slider/screen5.jpg" alt="mobile screen">
                </div>
                <div class="single-screen">
                    <img src="css/assets/img/mobile/screen-slider/screen3.jpg" alt="mobile screen">
                </div>
                <div class="single-screen">
                    <img src="css/assets/img/mobile/screen-slider/screen4.jpg" alt="mobile screen">
                </div>
            </div>
        </div>
    </section>
    <!-- screen slider area end -->
 --}}

        <!-- testimonial carousel area start -->
        {{!-- <div class="testimonial-area ptb--100" id="client-area">
        <div class="container">
            <div class="section-title">
                <h2>Client Says</h2>
                <p>Nemo enim ipsam voluptatem quia voluptas sit</p>
            </div>
            <div class="testimonial-slider owl-carousel">
                <div class="single-tst">
                    <img src="css/assets/img/author/tst-author1.jpg" alt="author">
                    <h4>John Doe</h4>
                    <span>Founder</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis</p>
                    <ul class="tst-social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fa fa-ponterest"></i></a></li>
                    </ul>
                </div>
                <div class="single-tst">
                    <img src="css/assets/img/author/tst-author2.jpg" alt="author">
                    <h4>John Doe</h4>
                    <span>CEO</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis</p>
                    <ul class="tst-social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fa fa-ponterest"></i></a></li>
                    </ul>
                </div>
                <div class="single-tst">
                    <img src="css/assets/img/author/tst-author1.jpg" alt="author">
                    <h4>John Doe</h4>
                    <span>CEO</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis</p>
                    <ul class="tst-social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fa fa-ponterest"></i></a></li>
                    </ul>
                </div>
                <div class="single-tst">
                    <img src="css/assets/img/author/tst-author2.jpg" alt="author">
                    <h4>John Doe</h4>
                    <span>CEO</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis</p>
                    <ul class="tst-social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fa fa-ponterest"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div> --}}
        <!-- testimonial carousel area end -->


        {{!-- <!-- video area start -->
    <div class="video-area ptb--100">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
                    <h2>Watch Video Demo</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>
                    <a class="expand-video" href="https://www.youtube.com/watch?v=8qs2dZO6wcc"><i class="fa fa-play"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- video area end -->
    <!-- pricing area start -->
    <section class="pricing-area ptb--100" id="pricing">
        <div class="container">
            <div class="section-title">
                <h2>Pricing Plan</h2>
                <p>Nemo enim ipsam voluptatem quia voluptas sit</p>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12 col-6">
                    <div class="single-price">
                        <div class="prc-head">
                            <span>Silver</span>
                            <h5><small>$</small>50/m</h5>
                        </div>
                        <ul>
                            <li>10 User</li>
                            <li>1 Year</li>
                            <li>512 Mb Memory</li>
                            <li>30GB SSD Disk</li>
                            <li>1 TB Transfer</li>
                            <li>6 Months Support</li>
                        </ul>
                        <a href="#">Order Now</a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 col-6">
                    <div class="single-price">
                        <div class="prc-head">
                            <span>Silver</span>
                            <h5><small>$</small>150/m</h5>
                        </div>
                        <ul>
                            <li>10 User</li>
                            <li>1 Year</li>
                            <li>512 Mb Memory</li>
                            <li>30GB SSD Disk</li>
                            <li>1 TB Transfer</li>
                            <li>6 Months Support</li>
                        </ul>
                        <a href="#">Order Now</a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 col-6">
                    <div class="single-price">
                        <div class="prc-head">
                            <span>Silver</span>
                            <h5><small>$</small>250/m</h5>
                        </div>
                        <ul>
                            <li>10 User</li>
                            <li>1 Year</li>
                            <li>512 Mb Memory</li>
                            <li>30GB SSD Disk</li>
                            <li>1 TB Transfer</li>
                            <li>6 Months Support</li>
                        </ul>
                        <a href="#">Order Now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- pricing area end --> --}}

        <!-- team area start -->
        <section class="team-area bg-gray ptb--100" id="team">
            <div class="container">
                <div class="section-title-new">
                    <h2>The POPPEG Team</h2>
                    {{!-- <p>The brains behind POPPEG</p> --}}
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12 col-6">
                        <div class="single-team">
                            <div class="team-thumb">
                                <img src="css/assets/img/team/giam.jpg" alt="image">
                            </div>
                            <h4>Giam Ju Xian</h4>
                            <span>Co-Founder</span>
                            <ul class="tst-social">
                                <li><a href="https://www.linkedin.com/in/ju-xian-giam-9a745716b/"><i
                                            class="fa fa-linkedin"></i></a></li>
                                <li><a href="https://www.instagram.com/giaamm/"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 col-6">
                        <div class="single-team">
                            <div class="team-thumb">
                                <img src="css/assets/img/team/leonard.jpg" alt="image">
                            </div>
                            <h4>Leonard Tan</h4>
                            <span>Co-Founder</span>
                            <ul class="tst-social">
                                <li><a href="https://www.linkedin.com/in/leonardtan2812/"><i
                                            class="fa fa-linkedin"></i></a></li>
                                <li><a href="https://www.instagram.com/leeenut/"><i class="fa fa-instagram"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 col-6">
                        <div class="single-team">
                            <div class="team-thumb">
                                <img src="css/assets/img/team/jeff.jpg" alt="image">
                            </div>
                            <h4>Jeffrey Halim</h4>
                            <span>Co-Founder</span>
                            <ul class="tst-social">
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="https://www.instagram.com/freynatic/"><i class="fa fa-instagram"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 col-6">
                        <div class="single-team">
                            <div class="team-thumb">
                                <img src="css/assets/img/team/clarence.jpg" alt="image">
                            </div>
                            <h4>Clarence Koh</h4>
                            <span>Co-Founder</span>
                            <ul class="tst-social">
                                <li><a href="https://www.linkedin.com/in/clarence-koh-705057153/"><i
                                            class="fa fa-linkedin"></i></a></li>
                                <li><a href="https://www.instagram.com/clarencekohl/"><i
                                            class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- team area end -->

        {{!-- <!-- call-action area start -->
    <section class="call-to-action ptb--100" id="download">
        <div class="container">
            <div class="section-title text-white">
                <h2>Our Amazing Team</h2>
                <p>Nemo enim ipsam voluptatem quia voluptas sit</p>
            </div>
            <div class="download-btns btn-area text-center">
                <a href="#"><i class="fa fa-apple"></i>android story</a>
                <a href="#"><i class="fa fa-windows"></i>Windows story</a>
                <a href="#"><i class="fa fa-android"></i>android story</a>
            </div>
        </div>
    </section>
    <!-- call-action area end --> --}}

        {{!-- <!-- blog area start -->
    <section class="blog-post ptb--100" id="blog">
        <div class="container">
            <div class="section-title">
                <h2>Latest News</h2>
                <p>Nemo enim ipsam voluptatem quia voluptas sit</p>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12 col-6">
                    <div class="single-post">
                        <a href="blog.html"><img src="css/assets/img/blog/blog-post-img.jpg" alt="blog image"></a>
                        <div class="blog-meta">
                            <ul>
                                <li><i class="fa fa-user"></i>John</li>
                                <li><i class="fa fa-comment"></i>Comments</li>
                                <li><i class="fa fa-calendar"></i>21 Feb 2018</li>
                            </ul>
                        </div>
                        <h2><a href="blog.html">There are many variations</a></h2>
                        <p>Lorem ipsum dolor sit amet,ut consectetur adipisicing elit,eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 col-6">
                    <div class="single-post">
                        <a href="blog.html"><img src="css/assets/img/blog/blog-post-img1.jpg" alt="blog image"></a>
                        <div class="blog-meta">
                            <ul>
                                <li><i class="fa fa-user"></i>John</li>
                                <li><i class="fa fa-comment"></i>Comments</li>
                                <li><i class="fa fa-calendar"></i>21 Feb 2018</li>
                            </ul>
                        </div>
                        <h2><a href="blog.html">There are many variations</a></h2>
                        <p>Lorem ipsum dolor sit amet,ut consectetur adipisicing elit,eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 col-6">
                    <div class="single-post">
                        <a href="blog.html"><img src="css/assets/img/blog/blog-post-img2.jpg" alt="blog image"></a>
                        <div class="blog-meta">
                            <ul>
                                <li><i class="fa fa-user"></i>John</li>
                                <li><i class="fa fa-comment"></i>Comments</li>
                                <li><i class="fa fa-calendar"></i>21 Feb 2018</li>
                            </ul>
                        </div>
                        <h2><a href="blog.html">There are many variations</a></h2>
                        <p>Lorem ipsum dolor sit amet,ut consectetur adipisicing elit,eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- blog area end --> --}}

        {{!-- <!-- client area start -->
    <div class="clinet-area bg-gray ptb--100">
        <div class="container">
            <div class="client-carousel owl-carousel">
                <img src="css/assets/img/client/client-img.png" alt="client image">
                <img src="css/assets/img/client/client-img1.png" alt="client image">
                <img src="css/assets/img/client/client-img2.png" alt="client image">
                <img src="css/assets/img/client/client-img3.png" alt="client image">
                <img src="css/assets/img/client/client-img1.png" alt="client image">
            </div>
        </div>
    </div>
    <!-- client area end --> --}}


        <!-- contact area start -->
        <section class="contact-area ptb--100" id="contact">
            <div class="container">
                <div class="section-title-new">
                    <h2>Contact Us</h2>
                    <p>For Enquiries</p>
                </div>
                <div class="row">
                    {{!-- <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="contact-form">
                        <form action="#">
                            <input type="text" name="name" placeholder="Enter Your Name">
                            <input type="text" name="email" placeholder="Enter Your Email">
                            <textarea name="msg" id="msg" placeholder="Your Message "></textarea>
                            <input type="submit" value="Send" id="send">
                        </form>
                    </div>
                </div> --}}
                    <div class="col-md-offset-4 col-lg-offset-4 col-md-6 col-xs-12">
                        <div class="contact_info">
                            {{!-- <div class="s-info">
                            <i class="fa fa-map-marker"></i>
                            <div class="meta-content">
                                <span>National University of Singapore</span>
                                <span>TW7 1AB, UK</span>
                            </div>
                        </div> --}}
                            <div class="s-info">
                                <a href="https://www.instagram.com/pop.peg/"><i class="fa fa-instagram"></i></a>
                                <div class="meta-content">
                                    <span>@POP.PEG</span>
                                </div>
                            </div>
                            <div class="s-info">
                                <i class="fa fa-paper-plane"></i>
                                <div class="meta-content">
                                    <span>poppeg211@gmail.com</span>
                                </div>
                            </div>
                            {{!-- <div class="c-social">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            </ul>
                        </div> --}}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- contact area end -->
        <!-- footer area start -->
        <footer>
            <div class="footer-area-new">
                <div class="container">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());

                        </script> All rights reserved by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </footer>
        <!-- footer area end -->

        <!-- Scripts -->
        <script src="css/assets/js/jquery-3.2.0.min.js"></script>
        <script src="css/assets/js/jquery-ui.js"></script>
        <script src="css/assets/js/bootstrap.min.js"></script>
        <script src="css/assets/js/jquery.slicknav.min.js"></script>
        <script src="css/assets/js/owl.carousel.min.js"></script>
        <script src="css/assets/js/magnific-popup.min.js"></script>
        <script src="css/assets/js/counterup.js"></script>
        <script src="css/assets/js/jquery.waypoints.min.js"></script>
        <script src="css/assets/js/jquery.mb.YTPlayer.min.js"></script>
        <script src="css/assets/js/theme.js"></script>
</body>

</html>