<!DOCTYPE html>
<html lang="en">

<head>
    <!--- Basic Page Needs  -->
    <meta charset="utf-8">
    <title>Home - POPPEG</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile Specific Meta  -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/jquery-ui.css" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
        crossorigin="anonymous">
    {{!-- <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css"> --}}
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/magnificpopup.css" type="text/css">
    <link rel="stylesheet" href="css/jquery.mb.YTPlayer.min.css" type="text/css">
    <link rel="stylesheet" href="css/typography.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="stylesheet" href="css/responsive.css" type="text/css">
    <!-- Flaticon -->
    <link rel="stylesheet" href="css/main.css" type="text/css">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="css/assets/img/icon/poppeg_square.png">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>

<body class="bg--none">
    <!-- preloader area start -->
    <div id="preloader">
        <div class="spinner"></div>
    </div>
    <!-- preloader area end -->

    <!-- header area start -->
    <div class="header-area">
        <div class="container">
            <div class="row">
                <div class="menu-area">
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <div class="logo">
                            <a href=""><img src="css/assets/img/icon/poppeg_strip.png"
                                    alt="POPPEG"></a>
                        </div>
                    </div>
                    <div class="col-md-9 hidden-xs hidden-sm">
                        <div class="main-menu">
                            <nav class="nav-menu">
                                <ul>
                                    <li><a href="#home">Home</a></li>
                                    <li><a href="#feature">The App</a></li>
                                    <li><a href="#howto">How to Use</a></li>
                                    <li><a href="#team">The Team</a></li>
                                    <li><a href="#contact">Contact</a></li>
                                    <li><a href="signup">Sign up for POPPEG</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xs-12 visible-sm visible-xs">
                        <div class="mobile_menu"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- header area end -->


    <!-- slider area start -->
    <section class="slider-area" id="home">
        <div class="container">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="row">
                    <div class="slider-img">
                        <img src="css/assets/img/mobile/POPPEG_Iphone.png" alt="slider image">
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="row">
                    <div class="slider-inner text-right col-lg-12 col-md-12 col-xs-12">
                        <h2>Make your images come to live!</h2>
                        <h5>With Singapore's first Augmented Reality photo application.</h5>
                    </div>
                </div>
                <div class="ptb--40 row">
                    <div
                        class="app-download col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-6 col-xs-6">
                        <a href="https://apps.apple.com/us/app/poppeg/id1450282197?mt=8">
                            <img src="icon/app-store-badge.png" alt="Download on the App Store"
                                style="width:89.1%">
                        </a>
                    </div>
                    <div class="app-download col-lg-4 col-md-4 col-sm-6 col-xs-6">
                        <a href="https://play.google.com/store/apps/details?id=com.poppeg.poppeg">
                            <img src="icon/google-play-badge.png" alt="Get it on Google Play">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <!-- slider area end -->

    <!-- About App area start -->
    <section class="feature-area bg-gray pt--50" id="feature">
        <div class="container">
            <div class="ptb--100">
                <div class="section-title">
                    <h2>About The App</h2>
                    <p>An Introduction to POPPEG</p>
                </div>
                <div class="row">
                    <div
                        class="col-lg-offset-2 col-md-offset-1 col-lg-4 col-md-5 col-sm-6 col-xs-12">
                        <div class="video-center">
                            {{!-- <img src="css/assets/img/about/app-about.png" alt="image"
                            class="about-left-new"> --}}
                            <video class="video-fill" id="demoVideo" max-width="300px"
                                height="600px" align="right" controls>
                                <source src="css/assets/img/video/poppeg_demo.mp4" type="video/mp4">
                            </video>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12">
                        <div class="about-content vertical-align-video">
                            <h2 style="text-align: center">Watch Our Demo Here!</h2>
                            <br>
                            <p>We live in a digital world where many of our precious memories
                                are stored
                                in the digital
                                space, often in the form of videos and images. </p>
                            <p>As we accumulate
                                more and
                                more of these
                                intangible assets, it becomes increasingly difficult for us to
                                revisit
                                these memories or
                                share these moments with our friends and family, especially in a
                                genuine
                                and sincere manner.</p>
                            <p>With that problem in mind, POPPEG was created as a platform that
                                allows
                                users to share their
                                precious memories with each other.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About App area end -->

    <!-- How to Use area start -->
    <section class="pricing-area pt--50 ptb--100" id="howto">
        <div class="container">
            <div class="section-title">
                <h2>How to Use POPPEG</h2>
            </div>
            <div class="row pt--80">
                <div class="col-lg-3 col-sm-6 col-xs-12 text-center instruction-border">
                    <img src="css/assets/img/icon/001-photo.png" class="instruction-logo mt--20">
                    <h4 class="mt--20">
                        1. Send us your images and videos
                    </h4>
                    <p id="howto-instructions">
                        Upload your desired photo and video pair.
                    </p>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12 text-center instruction-border">
                    <img src="css/assets/img/icon/002-download.png" class="instruction-logo mt--20">
                    <h4 class="mt--20">
                        2. Download the POPPEG application
                    </h4>
                    <p id="howto-instructions">
                        Search "POPPEG" on your Google Play store or Apple store and download our
                        app.
                    </p>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12 text-center instruction-border">
                    <img src="css/assets/img/icon/003-download-1.png"
                        class="instruction-logo mt--20">
                    <h4 class="mt--20">
                        3. Download your photo albums
                    </h4>
                    <p id="howto-instructions">
                        Open up the POPPEG app and download your photo album.
                    </p>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12 text-center instruction-border">
                    <img src="css/assets/img/icon/004-scan.png" class="instruction-logo mt--20">
                    <h4 class="mt--20">
                        4. Scan your printed photos
                    </h4>
                    <p id="howto-instructions">
                        Scan your photos using our app and watch your photos come to
                        live.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- How to use area end -->

    <!-- team area start -->
    <section class="team-area bg-gray ptb--100" id="team">
        <div class="container">
            <div class="section-title">
                <h2>The POPPEG Team</h2>
                {{!-- <p>The brains behind POPPEG</p> --}}
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12 col-6">
                    <div class="single-team">
                        <div class="team-thumb">
                            <img src="css/assets/img/team/giam.jpg" alt="image">
                        </div>
                        <h4>Giam Ju Xian</h4>
                        <span>Co-Founder</span>
                        <ul class="tst-social">
                            <li><a href="https://www.linkedin.com/in/ju-xian-giam-9a745716b/"><i
                                        class="fab fa-linkedin-in"></i></a></li>
                            <li><a href="https://www.instagram.com/giaamm/"><i
                                        class="fab fa-instagram pr-1"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 col-6">
                    <div class="single-team">
                        <div class="team-thumb">
                            <img src="css/assets/img/team/leonard.JPG" alt="image">
                        </div>
                        <h4>Leonard Tan</h4>
                        <span>Co-Founder</span>
                        <ul class="tst-social">
                            <li><a href="https://www.linkedin.com/in/leonardtan2812/"><i
                                        class="fab fa-linkedin-in"></i></a></li>
                            <li><a href="https://www.instagram.com/leeenut/"><i
                                        class="fab fa-instagram pr-1"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 col-6">
                    <div class="single-team">
                        <div class="team-thumb">
                            <img src="css/assets/img/team/jeff.jpg" alt="image">
                        </div>
                        <h4>Jeffrey Halim</h4>
                        <span>Co-Founder</span>
                        <ul class="tst-social">
                            <li><a href="https://www.linkedin.com/in/jeffrey-halim-aa99b9121/"><i
                                        class="fab fa-linkedin-in"></i></li>
                            <li><a href="https://www.instagram.com/freynatic/"><i
                                        class="fab fa-instagram pr-1"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 col-6">
                    <div class="single-team">
                        <div class="team-thumb">
                            <img src="css/assets/img/team/clarence.jpg" alt="image">
                        </div>
                        <h4>Clarence Koh</h4>
                        <span>Co-Founder</span>
                        <ul class="tst-social">
                            <li><a href="https://www.linkedin.com/in/clarence-koh-705057153/"><i
                                        class="fab fa-linkedin-in"></i></a></li>
                            <li><a href="https://www.instagram.com/clarencekohl/"><i
                                        class="fab fa-instagram pr-1"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- team area end -->

    <!-- contact area start -->
    <section class="contact-area pt--50" id="contact">
        <div class="container">
            <div class="section-title">
                <h2>Contact Us</h2>
                <p>For Enquiries</p>
            </div>
            <div class="row">
                <div class="contact-container">
                    <div class="contact_info ptb--50">
                        <div class="s-info">
                            <a href="https://www.instagram.com/pop.peg/"><i
                                    class="fab fa-instagram pr-1"></i>
                                <div class="meta-content">
                                    <span>@POP.PEG</span>
                                </div>
                            </a>
                        </div>
                        <div class="s-info">
                            <i class="fa fa-paper-plane"></i>
                            <div class="meta-content">
                                <span>poppeg211@gmail.com</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- contact area end -->

    <!-- footer area start -->
    <footer>
        <div class="footer-area">
            <div class="container">
                <p>
                    &copy; POPPEG 2019
                </p>
            </div>
        </div>
    </footer>
    <!-- footer area end -->

    <!-- Scripts -->
    <script src="css/assets/js/jquery-3.2.0.min.js"></script>
    <script src="css/assets/js/jquery-ui.js"></script>
    <script src="css/assets/js/bootstrap.min.js"></script>
    <script src="css/assets/js/jquery.slicknav.min.js"></script>
    <script src="css/assets/js/owl.carousel.min.js"></script>
    <script src="css/assets/js/magnific-popup.min.js"></script>
    <script src="css/assets/js/counterup.js"></script>
    <script src="css/assets/js/jquery.waypoints.min.js"></script>
    <script src="css/assets/js/jquery.mb.YTPlayer.min.js"></script>
    <script src="css/assets/js/theme.js"></script>
</body>

</html>