<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google-signin-client_id"
        content="311278800366-alal3iav8m0s69aeu8tg44dgf2bmdnh2.apps.googleusercontent.com">
    <meta name="google-signin-cookiepolicy" content="single_host_origin">
    <meta name="google-signin-scope" content="profile email">
    <title>Sign up on POPPEG</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="css/signup.css" type="text/css" />
    <link rel="shortcut icon" type="image/png" href="css/assets/img/icon/poppeg_square.png">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <script src="/__/firebase/6.2.4/firebase-app.js"></script>
    <script src="/__/firebase/6.2.4/firebase-auth.js"></script>
    <script src="/__/firebase/init.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script type="text/javascript" src="js/signupPage.js"></script>
</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div>
                <div class="right-column text-center">
                    <a href="/"><img src="media/poppeg_strip_vector.png" alt="poppeg-logo" class="poppeg-logo"></a>
                    <p class="signup-info">Sign up now!</p>
                    <form id="signup-form">
                        <div class="form-group">
                            <input type="text" class="form-control" name="email" placeholder="Email Address">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="username" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <input type="password" data-minlength="6" class="form-control" name="password"
                                id="password-field" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="confirm_password" id="confirm_password"
                                placeholder="Confirm Password">
                        </div>
                        <p class="password-mismatch">Passwords do not match!</p>
                        <button id="signupButton" type="button" class="btn btn-primary btn-block">Sign up</button>
                        <div class="g-signin2" data-width="268" data-height="38" data-longtitle="true"
                            data-onsuccess="onSignIn" data-theme="white "></div>
                    </form>
                </div>
                <div class="right-column-login text-center">
                    <p>Have an account? <a href="newlogin">Login</a></p>
                </div>
            </div>

        </div>
        <div class="d-flex justify-content-center">
            <div style="margin-top: 30px;">
                <p><span class="project-footer">A Project by POPPEG</span></p>
            </div>
        </div>
    </div>
</body>

</html>